.relBody {
    width: 50%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.card {
    display: flex;
    flex-direction: column;
}
.dropdownContainer {
    display: flex;
    justify-content: space-around;
}
.button {
    margin-left : 15px;
    margin-top: 10px;
}